<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="./internal-nlog.txt"
      throwExceptions="true">



  <targets>

    <!-- Console Target -->
    <target name="console.target" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${counter}|${longdate}|${uppercase:${level}}|[${threadid}]${logger}|${message} ${exception:format=tostring,Data}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
      <highlight-word regex="GGuerra.Cardamatic.[^\s|]*|" foregroundColor="DarkGreen" />
    </target>


    <!-- Null Target -->
    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <logger name="GGuerra.Cardamatic.*" levels="Info,Warn" writeTo="console.target"/>
    <logger name="Microsoft.AspNetCore.Hosting*" levels="Info,Warn,Debug,Trace" writeTo="console.target"/>
    <logger name ="Microsoft.Hosting.Lifetime*" levels="Info,Warn,Debug,Trace" writeTo="console.target" />
    <logger name="*" minlevel="Error" writeTo="console.target"/>
  </rules>
</nlog>